/node_modules
/public/hot
/public/storage
/public/assets/files/uploads/
/public/assets/files
/public/js
/public/css
/public/images
/public/fonts
/public/vendors
/public/json
/storage/*.key
/vendor
/blogFirebase_disabled
/resource/verdors
/storage
/docker
/materialize-shell-scripts
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
supervisord.log
supervisord.pid